<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>

  <connectionStrings>
    <add name="NBA" connectionString="Data Source=KATSUZJ-HP;Initial Catalog=NBA;Integrated Security=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
    
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
